*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/public/hot
/storage/*.key
/storage/pail

# Tester mode: include full project contents in repo
!/node_modules/
!/public/build/
!/public/storage/
!/public/storage/**
!/vendor/

# Optional: include DB export files in repository
!/database/
!/database/*.sql
!/database/**/*.sql
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
